{% extends 'layout.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/custom_product.css') }}">
    {% endblock %}
{% block content %}
    <div class="product-sec">
        {% if editmode %}
            {{ pimcore_relation("product") }}
        {% else %}
            {% set product = pimcore_relation("product").element %}
            {% if product %}
                <p><strong>{{ product.name }}</strong></p>
                <p>{{ product.description }}</p>
                {% if product.image %}
                    <div class="image-sec">
                        <img src="{{ product.image }}">
                    </div>
                    {% endif %}
                <p>price: {{ product.price }}</p>
                <h4><a href="#">
                        {{ link }}
                    </a></h4>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
