<div>
    <h3>
        english data
    </h3>
    <div>
        <p>
            {{ object.getName() }}
            <br>
            {{ object.getDesc() }}
            <br>
            {{ object.getTime() }}
        </p>
    </div>
    <h3>
        German data
    </h3>
    <div>
        <p>
            {{ object.getName('de') }}
            <br>
            {{ object.getDesc('de') }}
            <br>
            {{ object.getTime('de') }}
        </p>
    </div>
    <div>
        <p>
            {{ object.getName('fr') }}
            <br>
            {{ object.getDesc('fr') }}
            <br>
            {{ object.getTime('fr') }}
        </p>
    </div>


</div>